* {
    margin: 0px;
    padding: 0px;
}
body {
    background-color: rgb(91, 0, 175);
    font-family: serif;
}

.principal {
    margin: auto;
    width: 35vw;
    padding: 20px;
    min-width: 459px;
}
.pai {
    border-radius: 10px;
    padding: 10px;
    border-style: solid;
    border-color: black;
    background-color: white;
    margin: auto;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    display: flex;
}
.pai table {
    margin: auto;
    border-style: solid;
    border-width: 1px;
    background-color: white;
    text-align: center;
    width: auto;
}
.pai td {
    border-width: 0.5px;
    border-style: solid;
    border-color: black;
    border-left: none;
    border-right: none;
    border-bottom: none;
}
.pai table th,td {
    padding: 5px;
}
.pai button {
    background-color: rgb(91, 0, 175);
    border-radius: 5px;
    color: white;
    transition: 0.5s;
    padding: 3px;
}
.pai button:hover {
    background-color: black;
    color: white;
    padding: 6px;
}
.principal .menu {
    background-color: black;
    color:white;
    padding:5px;
    font-size: 10px;
}
